<div>
  <h2>User info</h2>
  <%= image_tag user.get_profile_image(100,100) %>
  <table class="table">
    <tr>
      <th>name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= user.introduction %></th>
    </tr>
  </table>

  <%= link_to edit_user_path(user.id), class: "btn btn-outline-dark w-100" do %>
    <i class="fas fa-user-cog" style="color: #ffffff;"></i>
  <% end %>

  <h2 class="pt-3">New book</h2>
  <%= form_with model: Book.new do |f| %>
    <div class="form-group">
      <%= f.label :title, "Title" %>
      <%= f.text_field :title, class: "form-control w-75" %>
    </div>

    <div class="form-group">
      <%= f.label :body, "Opinion" %>
      <%= f.text_area :body, class: "form-control w-75"  %>
    </div>

    <%= f.submit 'Create Book', class: "btn btn-success" %>
  <% end %>
</div>