<div class="container-sm">
  <h1>Editing Book</h1>

  <% if @book.errors.any? %>
    <h3><%= @book.errors.count %>error prohibited this obj from being saved:</h3>
    <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>

  <%= form_with model: @book, method: :patch do |f| %>
    <div>
      <%= f.label :title, "Title" %>
      <%= f.text_field :title, class: "form-control mb-3" %>
    </div>

    <div>
      <%= f.label :body, "Opinion" %>
      <%= f.text_area :body, class: "form-control mb-3" %>
    </div>

    <div>
      <%= f.submit "Update Book", class: "btn btn-success mb-3" %>
    </div>

    <div>
      <%= link_to "Show", book_path %>
      |
      <%= link_to "Back", books_path %>
    </div>

  <% end %>
</div>